/* 사용자 설정 부분 */
:root {
	--logoURL: url(https://hanarim.github.io/tgd/movie_logo.png);
	--logoWidth: 200px
}

/* 트게더 로고 ( 없으면 주석처리 하세요 ) */
header .row>div:nth-child(1)>a {
	display: block;
	width: var(--logoWidth);
	height: 50px;
	background: var(--logoURL) no-repeat;
	background-size: auto 50px;
}
